<div class="card">
  <h4 class="card-header">Login</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input
          type="email"
          formControlName="Email"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['Email'].errors }"
        />
        <div *ngIf="submitted && f['Email'].errors" class="invalid-feedback">
          <div *ngIf="f['Email'].errors['required']['email']">
            Email is required
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input
          type="password"
          formControlName="Password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['Password'].errors }"
        />
        <div *ngIf="submitted && f['Password'].errors" class="invalid-feedback">
          <div *ngIf="f['Password'].errors['required']">
            Password is required
          </div>
        </div>
      </div>
      <div>
        <button [disabled]="loading" class="btn btn-primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm me-1"
          ></span>
          Login
        </button>
        <a routerLink="/accounts/register" class="btn btn-link">Register</a>
      </div>
    </form>
  </div>
</div>
