.login-container {
  max-width: 400px;
  margin: 60px auto 0;
}

.error {
  color: tomato;
  font-size: 12px;
  padding-top: 4px;
}

.rememberme1 {
  margin-left: 10px;
}

.forgotpass {
  display: contents;
  margin-right: 10px;
}
