<h1>Programs</h1>
<a routerLink="/admin/programs/add" class="btn btn-sm btn-success mb-2"
  >Add Program</a
>
<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 30%">First Name</th>
      <th style="width: 30%">Last Name</th>
      <th style="width: 30%">Username</th>
      <th style="width: 10%"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let program of programs">
      <td>{{ program.firstName }}</td>
      <td>{{ program.lastName }}</td>
      <td>{{ program.username }}</td>
      <td style="white-space: nowrap">
        <a
          routerLink="edit/{{ program.id }}"
          class="btn btn-sm btn-primary me-1"
          >Edit</a
        >
        <button
          (click)="deleteUser(program.id)"
          class="btn btn-sm btn-danger btn-delete-user"
          [disabled]="program.isDeleting"
        >
          <span
            *ngIf="program.isDeleting"
            class="spinner-border spinner-border-sm"
          ></span>
          <span *ngIf="!program.isDeleting">Delete</span>
        </button>
      </td>
    </tr>
    <tr *ngIf="!programs">
      <td colspan="4" class="text-center">
        <span class="spinner-border spinner-border-lg align-center"></span>
      </td>
    </tr>
  </tbody>
</table>
