<p-tabView
  class="surface-card p-2 m-0 list-none flex overflow-x-auto select-none"
>
  <p-tabPanel
    class="flex align-items-center"
    header="Program Info"
    leftIcon="pi pi-calendar"
    tooltip="Program Info"
  >
    <h1>{{ title }}</h1>
    <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <fieldset class="scheduler-border mb-3">
          <legend>Project Info</legend>
          <div class="mb-2">
            <label class="form-label" for="ProjectName">Name :</label>
            <div>
              <input
                type="text"
                class="form-control"
                id="ProjectName"
                name="ProjectName"
                formControlName="ProjectName"
              />
            </div>
          </div>
          <div class="mb-2">
            <label class="form-label" for="Description">Description :</label>
            <div>
              <input
                type="text"
                class="form-control"
                id="Description"
                formControlName="Description"
                name="Description"
              />
            </div>
          </div>
          <div class="mb-2">
            <label class="form-label" for="ProjectCode">Project Code :</label>
            <div>
              <input
                type="text"
                class="form-control"
                id="ProjectCode"
                formControlName="ProjectCode"
                name="ProjectCode"
              />
            </div>
          </div>
        </fieldset>
      </div>

      <div class="row panel panel-primary">
        <fieldset class="scheduler-border mb-3 panel-body">
          <legend class="text-on-pannel text-primary">Other Information</legend>
          <div class="mb-2">
            <label class="form-label" for="Code">Tender No :</label>
            <div>
              <input
                type="text"
                class="form-control"
                id="Code"
                name="Code"
                formControlName="Code"
              />
            </div>
          </div>
          <div class="mb-2">
            <label class="form-label" for="StartDate">Start Date: </label>
            <div>
              <!-- <input
            type="datetime"
            class="form-control"
            id="StartDate"
            formControlName="StartDate"
            name="StartDate"
          /> -->
              <p-calendar
                class="form-control"
                id="StartDate"
                formControlName="StartDate"
                name="StartDate"
                [showTime]="true"
                [showSeconds]="true"
                inputId="StartDate"
              ></p-calendar>
            </div>
          </div>
          <div class="mb-2">
            <label class="form-label" for="EndDate">End Date: </label>
            <div>
              <!-- <input
            type="datetime"
            class="form-control"
            id="EndDate"
            formControlName="EndDate"
            name="EndDate"
          /> -->
              <p-calendar
                class="form-control col-12"
                id="EndDate"
                formControlName="EndDate"
                name="EndDate"
                [showTime]="true"
                [showSeconds]="true"
                inputId="EndDate"
              ></p-calendar>
            </div>
          </div>
          <div class="mb-2">
            <label class="form-label" for="DateOfAward">Date of Award: </label>
            <div>
              <!-- <input
            type="datetime"
            class="form-control"
            id="DateOfAward"
            formControlName="DateOfAward"
            name="DateOfAward"
          /> -->
              <p-calendar
                class="form-control"
                id="DateOfAward"
                formControlName="DateOfAward"
                name="DateOfAward"
                [showTime]="true"
                [showSeconds]="true"
                inputId="DateOfAward"
              ></p-calendar>
            </div>
          </div>
          <div class="mb-2">
            <label class="form-label" for="Country">Project Location: </label>
            <div>
              <input
                type="text"
                class="form-control"
                id="Country"
                name="Country"
                formControlName="Country"
              />
              <!-- <i class="fa fa-clock"></i> -->
            </div>
          </div>
        </fieldset>
      </div>
      <div class="mb-2">
        <button [disabled]="submitting" class="btn btn-primary">
          <span
            *ngIf="submitting"
            class="spinner-border spinner-border-sm me-1"
          ></span>
          Save
        </button>
        <a routerLink="/admin/programs" class="btn btn-link">Cancel</a>
      </div>
    </form>
    <div *ngIf="loading" class="text-center m-5">
      <span class="spinner-border spinner-border-lg align-center"></span>
    </div>
  </p-tabPanel>
  <p-tabPanel
    header="Responsibility"
    rightIcon="pi pi-inbox"
    tooltip="Responsibility"
  >
    <app-add-project-responsibility></app-add-project-responsibility>
  </p-tabPanel>
  <p-tabPanel header="Documents" rightIcon="pi pi-pdf" tooltip="Documents">
    <app-add-project-documents></app-add-project-documents>
  </p-tabPanel>
</p-tabView>
