<h4>
  <a class="navbar-brand" href="#">INVOICE GENERATOR</a>
</h4>
<form #invoiceForm="ngForm">
  <div class="container-fluid pt-2 mb-5">
    <div class="row">
      <div class="col-md-8">
        <div class="card border-secondary">
          <!-- <div class="card-body">
            <h4 class="card-title">Customer Details</h4>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    name="name"
                    id="name"
                    [ngClass]="{
                      'is-invalid': invoiceForm.submitted && CustName.invalid
                    }"
                    [(ngModel)]="invoice.customerName"
                    #CustName="ngModel"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="address">Address</label>
                  <textarea
                    class="form-control"
                    name="address"
                    id="address"
                    row="3"
                    [ngClass]="{
                      'is-invalid': invoiceForm.submitted && Address.invalid
                    }"
                    [(ngModel)]="invoice.address"
                    #Address="ngModel"
                    required
                  ></textarea>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="email">Email ID</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    [(ngModel)]="invoice.email"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="contactNo">Contact No.</label>
                  <input
                    type="number"
                    class="form-control"
                    name="contactNo"
                    id="contactNo"
                    [ngClass]="{
                      'is-invalid': invoiceForm.submitted && ContactNo.invalid
                    }"
                    [(ngModel)]="invoice.contactNo"
                    #ContactNo="ngModel"
                    required
                  />
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <div class="card border-secondary mt-2">
          <div class="card-body">
            <h4 class="card-title d-flex justify-content-between">
              Order Details
              <button
                type="button"
                class="btn btn-secondary"
                (click)="addProduct()"
              >
                +
              </button>
            </h4>
            <div class="row">
              <table class="table">
                <thead>
                  <tr>
                    <th width="25%">Product</th>
                    <th width="25%">Price</th>
                    <th width="25%">Quantity</th>
                    <th width="25%">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of invoice.products; let i = index">
                    <td scope="row">
                      <input
                        type="text"
                        class="form-control"
                        name="productName{{ i }}"
                        [ngClass]="{
                          'is-invalid':
                            invoiceForm.submitted && ProductName.invalid
                        }"
                        id="productName"
                        [(ngModel)]="product.name"
                        #ProductName="ngModel"
                        required
                      />
                    </td>
                    <td>
                      <input
                        type="number"
                        class="form-control"
                        name="price{{ i }}"
                        id="price"
                        [ngClass]="{
                          'is-invalid':
                            invoiceForm.submitted && ProductPrice.invalid
                        }"
                        [(ngModel)]="product.price"
                        #ProductPrice="ngModel"
                        required
                      />
                    </td>
                    <td>
                      <input
                        type="number"
                        class="form-control"
                        name="quantity{{ i }}"
                        id="quantity"
                        [ngClass]="{
                          'is-invalid':
                            invoiceForm.submitted && ProductQty.invalid
                        }"
                        [(ngModel)]="product.qty"
                        #ProductQty="ngModel"
                        required
                      />
                    </td>
                    <td>
                      {{ product.price! * product.qty! || "" }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card border-secondary mt-2">
          <div class="card-body">
            <h4 class="card-title">Additional Details</h4>
            <div class="form-group">
              <textarea
                class="form-control"
                name="additionalDetails"
                rows="3"
                [(ngModel)]="invoice.additionalDetails"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <button
          type="button"
          class="btn btn-secondary btn-lg btn-block"
          (click)="invoiceForm.valid ? generatePDF('download') : ''"
        >
          Download Invoice
        </button>
        <button
          type="button"
          class="btn btn-secondary btn-lg btn-block"
          (click)="invoiceForm.valid ? generatePDF('print') : ''"
        >
          Print Invoice
        </button>
        <button
          type="submit"
          class="btn btn-secondary btn-lg btn-block"
          (click)="invoiceForm.valid ? generatePDF() : ''"
        >
          Open Invoice
        </button>
      </div>
    </div>
  </div>
</form>

<!-- <div class="p-4">
  <div class="card p-4">
    <h5>Advanced</h5>
    <form>
      <div class="form-group">
        <label htmlfor="firstname2">Firstname</label
        ><input
          pinputtext=""
          id="firstname2"
          type="text"
          class="p-inputtext p-component p-element"
        />
        <label htmlfor="lastname2">Lastname</label
        ><input
          pinputtext=""
          id="lastname2"
          type="text"
          class="p-inputtext p-component p-element input-control"
        />
      </div>

      <div class="field col-12">
        <label htmlfor="address">Address</label
        ><input
          pinputtextarea=""
          id="address"
          rows="4"
          class="p-inputtextarea p-inputtext p-component p-element"
        />
      </div>
      <div class="field col-12 md:col-6">
        <label htmlfor="city">City</label
        ><input
          pinputtext=""
          id="city"
          type="text"
          class="p-inputtext p-component p-element"
        />
      </div>
      <div class="field col-12 md:col-3">
        <label htmlfor="state">State</label
        ><p-dropdown
          optionlabel="name"
          class="p-element p-inputwrapper p-inputwrapper-filled ng-untouched ng-valid ng-dirty"
          ><div class="p-dropdown p-component">
            <div class="p-hidden-accessible">
              <input
                type="text"
                readonly=""
                aria-haspopup="listbox"
                pautofocus=""
                role="combobox"
                class="p-element"
                aria-expanded="false"
              />
            </div>
            <span
              class="p-element p-dropdown-label p-inputtext ng-star-inserted"
              id="pr_id_2_label"
              >Option 1</span
            >
            <div
              role="button"
              aria-label="dropdown trigger"
              aria-haspopup="listbox"
              class="p-dropdown-trigger"
            >
              <span class="p-dropdown-trigger-icon pi pi-chevron-down"></span>
            </div>
            <p-overlay class="p-element ng-tns-c45-55 ng-star-inserted"
              ></p-overlay
            >
          </div></p-dropdown
        >
      </div>
      <div class="field col-12 md:col-3">
        <label htmlfor="zip">Zip</label
        ><input
          pinputtext=""
          id="zip"
          type="text"
          class="p-inputtext p-component p-element"
        />
      </div>
    </form>
  </div>
</div> -->

<!--<div class="form-2-container section-container section-container-gray-bg">
  <div class="container">
    <div class="row">
      <div class="col form-2 section-description wow fadeIn">
        <h2>Form 2</h2>
        <div class="divider-1 wow fadeInUp"><span></span></div>
        <p>
          A form with 3 "fieldset"-s and 3 "legend"-s: "First / Last name",
          "About" and "Preferences".
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col form-2-box wow fadeInUp">
        <form action="" method="post">
          <div class="row">
            <div class="col-md-6">
              <!- First / Last Name ->
              <fieldset class="form-group border p-3">
                <legend class="w-auto px-2">First / Last Name</legend>
                <div class="form-group">
                  <label for="firstname">First name:</label>
                  <input
                    type="text"
                    class="form-control firstname"
                    id="firstname"
                    placeholder="First name..."
                    name="firstname"
                  />
                </div>
                <div class="form-group">
                  <label for="lastname">Last name:</label>
                  <input
                    type="text"
                    class="form-control lastname"
                    id="lastname"
                    placeholder="Last name..."
                    name="lastname"
                  />
                </div>
              </fieldset>
            </div>
            <div class="col-md-6">
              <!- About ->
              <fieldset class="form-group border p-3">
                <legend class="w-auto px-2">About You</legend>
                <div class="form-group">
                  <label for="about">About:</label>
                  <textarea
                    class="form-control about"
                    id="about"
                    placeholder="Tell us about you..."
                    name="about"
                  ></textarea>
                </div>
              </fieldset>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <!- Preferences  ->
              <fieldset class="form-group border p-3">
                <legend class="w-auto px-2">Preferences</legend>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="john"
                    id="john"
                    value="john"
                  />
                  <label class="form-check-label" for="john"
                    >I want to subscribe to
                    <strong>John's</strong> newsletter</label
                  >
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="sarah"
                    id="sarah"
                    value="sarah"
                  />
                  <label class="form-check-label" for="sarah"
                    >I want to subscribe to
                    <strong>Sarah's</strong> newsletter</label
                  >
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="paolo"
                    id="paolo"
                    value="paolo"
                  />
                  <label class="form-check-label" for="paolo"
                    >I want to subscribe to
                    <strong>Paolo's</strong> newsletter</label
                  >
                </div>
              </fieldset>
            </div>
          </div>

          <!- Submit Button  ->
          <div class="form-group row">
            <div class="col">
              <button type="submit" class="btn btn-primary btn-customized">
                Subscribe
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>-->
