<div class="p-4">
  <div class="card p-4">
    <h5>Advanced</h5>
    <form>
      <div class="form-group">
        <label htmlfor="firstname2">Firstname</label
        ><input
          pinputtext=""
          id="firstname2"
          type="text"
          class="p-inputtext p-component p-element"
        />
        <label htmlfor="lastname2">Lastname</label
        ><input
          pinputtext=""
          id="lastname2"
          type="text"
          class="p-inputtext p-component p-element input-control"
        />
      </div>

      <div class="field col-12">
        <label htmlfor="address">Address</label
        ><input
          pinputtextarea=""
          id="address"
          rows="4"
          class="p-inputtextarea p-inputtext p-component p-element"
        />
      </div>
      <div class="field col-12 md:col-6">
        <label htmlfor="city">City</label
        ><input
          pinputtext=""
          id="city"
          type="text"
          class="p-inputtext p-component p-element"
        />
      </div>
      <div class="field col-12 md:col-3">
        <label htmlfor="state">State</label
        ><p-dropdown
          optionlabel="name"
          class="p-element p-inputwrapper p-inputwrapper-filled ng-untouched ng-valid ng-dirty"
          ><div class="p-dropdown p-component">
            <div class="p-hidden-accessible">
              <input
                type="text"
                readonly=""
                aria-haspopup="listbox"
                pautofocus=""
                role="combobox"
                class="p-element"
                aria-expanded="false"
              />
            </div>
            <span
              class="p-element p-dropdown-label p-inputtext ng-star-inserted"
              id="pr_id_2_label"
              >Option 1<!----><!----><!----></span
            ><!----><!----><!----><!---->
            <div
              role="button"
              aria-label="dropdown trigger"
              aria-haspopup="listbox"
              class="p-dropdown-trigger"
            >
              <span class="p-dropdown-trigger-icon pi pi-chevron-down"></span>
            </div>
            <p-overlay class="p-element ng-tns-c45-55 ng-star-inserted"
              ><!----></p-overlay
            >
          </div></p-dropdown
        >
      </div>
      <div class="field col-12 md:col-3">
        <label htmlfor="zip">Zip</label
        ><input
          pinputtext=""
          id="zip"
          type="text"
          class="p-inputtext p-component p-element"
        />
      </div>
    </form>
  </div>
</div>
