<form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <fieldset class="scheduler-border mb-3">
      <legend>Project Info</legend>
      <div class="col-lg-4 col-md-10">
        <div class="form-floating">
          <select
            formControlName="LeadPerson"
            class="form-select"
            [ngClass]="{ 'is-invalid': submitted && f['LeadPerson'].errors }"
          >
            <option [ngValue]="null" disabled>Select EMPLOYEE</option>
            <option
              *ngFor="let employee of employees"
              [ngValue]="employee.EmployeeID"
            >
              {{ employee.FirstName }} {{ employee.Surname }}
            </option>
          </select>
          <div
            *ngIf="submitted && f['LeadPerson'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['LeadPerson'].errors['required']">
              EMPLOYEE is required.
            </div>
          </div>
          <label>Lead Person</label>
        </div>
      </div>
      <div class="mb-2">
        <label class="form-label" for="Summary">Notes :</label>
        <div>
          <textarea
            class="form-control"
            id="Summary"
            formControlName="Summary"
            name="Summary"
          ></textarea>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="mb-2">
    <button [disabled]="submitting" class="btn btn-primary">
      <span
        *ngIf="submitting"
        class="spinner-border spinner-border-sm me-1"
      ></span>
      Save
    </button>
    <a routerLink="/admin/programs" class="btn btn-link">Cancel</a>
  </div>
</form>
