<p-table [value]="users" dataKey="FirstName">
  <!-- [value]="users$ | async"  -->
  <ng-template pTemplate="caption">
    List of Users
    <div class="flex">
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-plus"
        label="Add User"
        class="mr-2"
        pTooltip="Add User"
        tooltipPosition="right"
        routerLink="/admin/users/add"
      ></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Username</th>
      <th>First Name</th>
      <th>Surname</th>
      <th>Group</th>
      <th>Role</th>
      <th>Section</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr [pEditableRow]="rowData">
      <td>
        {{ rowData.Username }}
      </td>
      <td>
        {{ rowData.FirstName }}
      </td>
      <td>
        {{ rowData.Surname }}
      </td>
      <td>
        {{ rowData.Surname }}
      </td>
      <td>
        {{ rowData.Surname }}
      </td>
      <td>
        {{ rowData.Email }}
      </td>
      <td style="text-align: center">
        <p-button
          class="btnAdd"
          icon="pi pi-trash"
          class="ui-button-info"
          (onClick)="deleteUser(rowData)"
        ></p-button>
        <!-- style="margin-right: 0.5em" -->

        <button
          pButton
          type="button"
          pInitEditableRow
          icon="pi pi-pencil"
          class="ui-button-info"
          (click)="onRowEditInit(rowData)"
        ></button>
        <button
          pButton
          type="button"
          pSaveEditableRow
          icon="pi pi-check"
          class="ui-button-success"
          (click)="onRowEditSave(rowData)"
        ></button>
        <!-- style="margin-right: 0.5em" -->

        <button
          pButton
          type="button"
          pCancelEditableRow
          icon="pi pi-times"
          class="ui-button-danger"
          (click)="onRowEditCancel(rowData)"
        ></button>
      </td>
    </tr>
  </ng-template> </p-table
><p-dialog
  header="User Details"
  [(visible)]="displayDialog"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
>
  <form #BookForm="ngForm" novalidate>
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="userForDialog">
      <div class="ui-g ui-g-12 ui-g-nopad">
        <div class="ui-g-12 ui-md-3 ui-label">
          <label for="fname">User Name</label>
        </div>
        <div class="ui-g-12 ui-md-9">
          <input
            pInputText
            id="fname"
            name="fname"
            required
            [(ngModel)]="userForDialog.name"
          />
        </div>
      </div>
      <div class="ui-g ui-g-12 ui-g-nopad">
        <div class="ui-g-12 ui-md-3 ui-label">
          <label for="lname">Author</label>
        </div>
        <div class="ui-g-12 ui-md-9">
          <input
            pInputText
            id="lname"
            name="lname"
            required
            [(ngModel)]="userForDialog.author"
          />
        </div>
      </div>
      <div class="ui-g ui-g-12 ui-g-nopad">
        <div class="ui-g-12 ui-md-3 ui-label">
          <label for="prof">Price</label>
        </div>
        <div class="ui-g-12 ui-md-9">
          <input
            pInputText
            id="prof"
            name="prof"
            required
            [(ngModel)]="userForDialog.price"
          />
        </div>
      </div>
    </div>
  </form>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button
        type="submit"
        pButton
        icon="fa-check"
        (click)="saveUser()"
        label="Save"
        [disabled]="!BookForm.form.valid"
      ></button>
    </div>
  </p-footer>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
