<div class="container">
  <legend *ngIf="isAddMode">Add A New Department</legend>
  <legend *ngIf="!isAddMode">Update A New Department</legend>
  <div class="mb-3">
    <label for="txtDepartmentName" class="form-label">Department Name</label>
    <input
      type="text"
      [(ngModel)]="departmentForm['Department']"
      class="form-control"
      id="txtDepartmentName"
    />
  </div>
  <div class="mb-3">
    <label for="txtAuthor" class="form-label">HOD</label>
    <input
      type="text"
      [(ngModel)]="departmentForm['HOD']"
      class="form-control"
      id="txtAuthor"
    />
  </div>
  <div class="mb-3">
    <label for="txtCost" class="form-label">Description</label>
    <input
      type="text"
      [(ngModel)]="departmentForm['Description']"
      class="form-control"
      id="txtCost"
    />
  </div>
  <button *ngIf="isAddMode" type="button" class="btn btn-dark" (click)="save()">
    Create
  </button>
  <button
    *ngIf="!isAddMode"
    type="button"
    class="btn btn-dark"
    (click)="update()"
  >
    Update
  </button>
</div>
