<div class="card">
  <h4 class="card-header">Forgot Password</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input
          type="email"
          formControlName="Email"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['Email'].errors }"
        />
        <div *ngIf="submitted && f['Email'].errors" class="invalid-feedback">
          <div *ngIf="f['Email'].errors['required']">Email is required</div>
          <div *ngIf="f['Email'].errors['email']">Enter Valid Email</div>
        </div>
      </div>
      <div>
        <button [disabled]="loading || !form.valid" class="btn btn-primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm me-1"
          ></span>
          Submit
        </button>
        <a routerLink="/accounts/login" class="btn btn-link">Cancel</a>
      </div>
    </form>
  </div>
</div>
