<div class="container">
  <div class="card mt-0">
    <form #expenseForm="ngForm">
      <div class="row g-3">
        <div class="col-12 mb-4">
          <h4>Create Expense</h4>
          <span class="text-muted">Enter all required fields *</span>
        </div>
        <div class="col-lg-6 col-md-6 disabledDiv">
          <div class="form-floating">
            <select
              class="form-select"
              id="AccountID"
              name="AccountID"
              [(ngModel)]="invoice.AccountID"
              #AccountID="ngModel"
              [ngClass]="{ 'is-invalid': submitted && AccountID.errors }"
            >
              <option
                *ngFor="let account of accounts"
                [ngValue]="account.AccountID"
              >
                {{ account.AccountNo }}
              </option>
            </select>
            <div *ngIf="submitted && AccountID.errors" class="invalid-feedback">
              <div *ngIf="AccountID.errors['required']">
                Account is required.
              </div>
            </div>
            <label>Account</label>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 disabledDiv">
          <div class="form-floating">
            <select
              class="form-select"
              id="ClassID"
              name="ClassID"
              [(ngModel)]="invoice.ClassID"
              #ClassID="ngModel"
              [ngClass]="{ 'is-invalid': submitted && ClassID.errors }"
            >
              <option *ngFor="let cot of classOfTrans" [ngValue]="cot.ClassID">
                {{ cot.ClassOfTrans }}
              </option>
            </select>
            <div *ngIf="submitted && ClassID.errors" class="invalid-feedback">
              <div *ngIf="ClassID.errors['required']">Class is required.</div>
            </div>
            <label>Class</label>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="form-floating">
            <select
              class="form-select"
              id="SupplierID"
              name="SupplierID"
              [(ngModel)]="invoice.SupplierID"
              #SupplierID="ngModel"
              [ngClass]="{ 'is-invalid': submitted && SupplierID.errors }"
              (change)="selectChangeHandler($event)"
            >
              <option [ngValue]="null" disabled>Select Supplier</option>
              <option
                *ngFor="let supplier of suppliers"
                [ngValue]="supplier.EmployeeID"
              >
                {{ supplier.FirstName }} {{ supplier.Surname }}
              </option>
            </select>
            <div
              *ngIf="submitted && SupplierID.errors"
              class="invalid-feedback"
            >
              <div *ngIf="SupplierID.errors['required']">
                Supplier is required.
              </div>
            </div>
            <label>Supplier</label>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="form-floating">
            <select
              class="form-select"
              id="ProjectID"
              name="ProjectID"
              [(ngModel)]="invoice.ProjectID"
              #ProjectID="ngModel"
              [ngClass]="{ 'is-invalid': submitted && ProjectID.errors }"
            >
              <option [ngValue]="null" disabled>Select Project</option>
              <option
                *ngFor="let project of projects"
                [ngValue]="project.ProjectID"
              >
                {{ project.ProjectName }}
              </option>
            </select>
            <div *ngIf="submitted && ProjectID.errors" class="invalid-feedback">
              <div *ngIf="ProjectID.errors['required']">
                Project is required.
              </div>
            </div>
            <label>Project</label>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="form-floating">
            <input
              type="text"
              placeholder="Amount Total"
              id="AmountTotal"
              name="AmountTotal"
              [(ngModel)]="invoice.AmountTotal"
              #AmountTotal="ngModel"
              class="form-control"
              readonly
              [ngClass]="{ 'is-invalid': submitted && AmountTotal.errors }"
            />
            <div
              *ngIf="submitted && AmountTotal.errors"
              class="invalid-feedback"
            >
              <div *ngIf="AmountTotal.errors['required']">
                Amount total is required.
              </div>
            </div>
            <label>Amount Total</label>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="form-floating">
            <input
              type="text"
              placeholder="Address"
              id="Address"
              name="Address"
              [(ngModel)]="invoice.Address"
              #Address="ngModel"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && Address.errors }"
            />
            <div *ngIf="submitted && Address.errors" class="invalid-feedback">
              <div *ngIf="Address.errors['required']">Address is required.</div>
            </div>
            <label>Address</label>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="form-floating">
            <input
              type="text"
              placeholder="Ref No"
              id="RefNo"
              name="RefNo"
              [(ngModel)]="invoice.RefNo"
              #RefNo="ngModel"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && RefNo.errors }"
            />
            <div *ngIf="submitted && RefNo.errors" class="invalid-feedback">
              <div *ngIf="RefNo.errors['required']">Ref No is required.</div>
            </div>
            <label>Ref No</label>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="form-floating">
            <input
              type="date"
              placeholder="Date"
              id="Date"
              name="Date"
              [(ngModel)]="invoice.Date"
              #Date="ngModel"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && Date.errors }"
            />
            <div *ngIf="submitted && Date.errors" class="invalid-feedback">
              <div *ngIf="Date.errors['required']">Date is required.</div>
            </div>
            <label>Date</label>
          </div>
        </div>

        <div class="col-lg-12 col-md-12">
          <div class="card border-secondary mt-2">
            <div class="card-body">
              <h4 class="card-title d-flex justify-content-between">
                Item Details
                <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="addProduct()"
                >
                  +
                </button>
              </h4>
              <div class="row">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Item Name</th>
                      <th>Qty</th>
                      <th>Rate (Ksh)</th>
                      <th>Amount</th>
                      <th>Tax</th>
                      <th>Tax</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of invoice.products; let i = index">
                      <td scope="row">
                        <input
                          type="text"
                          class="form-control"
                          name="ItemName{{ i }}"
                          [ngClass]="{
                            'is-invalid':
                              expenseForm.submitted && ItemName.invalid
                          }"
                          id="ItemName"
                          [(ngModel)]="product.ItemName"
                          #ItemName="ngModel"
                          required
                        />
                      </td>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          name="Quantity{{ i }}"
                          id="Quantity"
                          [ngClass]="{
                            'is-invalid':
                              expenseForm.submitted && Quantity.invalid
                          }"
                          [(ngModel)]="product.Quantity"
                          #Quantity="ngModel"
                          required
                        />
                      </td>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          name="Rate{{ i }}"
                          id="Rate"
                          [ngClass]="{
                            'is-invalid': expenseForm.submitted && Rate.invalid
                          }"
                          [(ngModel)]="product.Rate"
                          #Rate="ngModel"
                          required
                        />
                      </td>
                      <td>
                        {{ product.Rate! * product.Quantity! || "" }}
                      </td>
                      <td>0.00</td>
                      <td>0.00</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- <button
            class="btn btn-primary text-uppercase"
            type="button"
            (click)="openNewItem()"
          >
            ADD ITEM<i class="fa fa-plus ms-3"></i>
          </button> -->
          <!-- <table class="table table-hover table-responsive">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Qty</th>
                <th>Rate (Ksh)</th>
                <th>Amount</th>
                <th>Tax</th>
                <th>Tax</th>
                <!- <th>Project Name</th> ->
              </tr>
            </thead>
            <tbody>
              <tr class="table" *ngFor="let item of itemData">
                <td id="ItemName">{{ item.ItemName }}</td>
                <td id="Quantity">{{ item.Quantity }}</td>
                <td id="Rate">{{ item.Rate }}</td>
                <td id="Amount">{{ item.Amount }}</td>
                <td id="Tax">{{ item.Tax }}</td>
                <td id="Tax">{{ item.Tax }}</td>
                <!- <td id="ProjectName">{{ item.project.ProjectName }}</td> ->
              </tr>
            </tbody>
          </table> -->
        </div>

        <div class="col-12 mt-4">
          <button
            class="btn btn-primary text-uppercase"
            type="submit"
            (click)="expenseForm.valid ? onSubmit() : ''"
          >
            CREATE EXPENSE<i class="fa fa-plane ms-3"></i>
          </button>
          <button
            (click)="expenseForm.valid ? generatePDF() : ''"
            type="button"
            class="btn btn-secondary ml-3 text-uppercase"
          >
            Generate PDF
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<p-dialog
  [(visible)]="itemDialog"
  [style]="{ width: '450px' }"
  header="Add Item"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="field mb-2">
      <label for="ItemID">Item Name</label>
      <p-dropdown
        [(ngModel)]="item.ItemID"
        inputId="ItemID"
        [options]="items"
        placeholder="Select Item"
      >
        <ng-template let-option pTemplate="item">
          <span>{{ option.ItemName }}</span>
        </ng-template>
      </p-dropdown>
    </div>

    <div class="field mb-2">
      <label for="name">Quantity</label>
      <input
        type="number"
        pInputText
        id="Quantity"
        [(ngModel)]="item.Quantity"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submittedItem && !item.Quantity"
        >Quantity is required.</small
      >
    </div>

    <div class="field mb-2">
      <label for="Rate">Rate</label>
      <input
        type="number"
        id="Rate"
        pInputText
        [(ngModel)]="item.Rate"
        required
      />
    </div>

    <div class="field mb-2">
      <label for="Tax">Amount</label>
      <p-inputNumber
        id="Amount"
        [(ngModel)]="item.Amount"
        mode="currency"
        currency="KSH"
        locale="en-KE"
      ></p-inputNumber>
    </div>

    <div class="formgrid grid">
      <div class="field col mb-2">
        <label for="Tax">Tax</label>
        <p-inputNumber id="Tax" [(ngModel)]="item.Tax"></p-inputNumber>
      </div>
      <div class="field col mb-2">
        <label for="Tax">Tax</label>
        <p-inputNumber id="Tax" [(ngModel)]="item.Tax"></p-inputNumber>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveProduct()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
