<div class="container">
  <div class="card mt-0">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="row g-3">
        <div class="col-12 mb-4">
          <h4>Create Expense</h4>
          <span class="text-muted">Enter all required fields *</span>
        </div>
        <div class="col-lg-6 col-md-6 disabledDiv">
          <div class="form-floating">
            <select
              class="form-select"
              formControlName="AccountID"
              [ngClass]="{ 'is-invalid': submitted && f.AccountID.errors }"
            >
              <option
                *ngFor="let account of accounts"
                [ngValue]="account.AccountID"
              >
                {{ account.AccountNo }}
              </option>
            </select>
            <div
              *ngIf="submitted && f.AccountID.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.AccountID.errors.required">
                Account is required.
              </div>
            </div>
            <label>Account</label>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 disabledDiv">
          <div class="form-floating">
            <select
              class="form-select"
              formControlName="ClassID"
              [ngClass]="{ 'is-invalid': submitted && f.ClassID.errors }"
            >
              <option *ngFor="let cot of classOfTrans" [ngValue]="cot.ClassID">
                {{ cot.ClassOfTrans }}
              </option>
            </select>
            <div *ngIf="submitted && f.ClassID.errors" class="invalid-feedback">
              <div *ngIf="f.ClassID.errors.required">Class is required.</div>
            </div>
            <label>Class</label>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="form-floating">
            <select
              class="form-select"
              formControlName="SupplierID"
              [ngClass]="{ 'is-invalid': submitted && f.SupplierID.errors }"
            >
              <option [ngValue]="null" disabled>Select Supplier</option>
              <option
                *ngFor="let supplier of suppliers"
                [ngValue]="supplier.EmployeeID"
              >
                {{ supplier.FirstName }} {{ supplier.Surname }}
              </option>
            </select>
            <div
              *ngIf="submitted && f.SupplierID.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.SupplierID.errors.required">
                Supplier is required.
              </div>
            </div>
            <label>Supplier</label>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="form-floating">
            <select
              class="form-select"
              formControlName="ProjectID"
              [ngClass]="{ 'is-invalid': submitted && f.ProjectID.errors }"
            >
              <option [ngValue]="null" disabled>Select Project</option>
              <option
                *ngFor="let project of projects"
                [ngValue]="project.ProjectID"
              >
                {{ project.ProjectName }}
              </option>
            </select>
            <div
              *ngIf="submitted && f.ProjectID.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.ProjectID.errors.required">
                Project is required.
              </div>
            </div>
            <label>Project</label>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="form-floating">
            <input
              type="text"
              placeholder="Amount Total"
              formControlName="AmountTotal"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.AmountTotal.errors }"
            />
            <div
              *ngIf="submitted && f.AmountTotal.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.AmountTotal.errors.required">
                Amount total is required.
              </div>
            </div>
            <label>Amount Total</label>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="form-floating">
            <input
              type="text"
              placeholder="Address"
              formControlName="Address"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.Address.errors }"
            />
            <div *ngIf="submitted && f.Address.errors" class="invalid-feedback">
              <div *ngIf="f.Address.errors.required">Address is required.</div>
            </div>
            <label>Address</label>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="form-floating">
            <input
              type="text"
              placeholder="Ref No"
              formControlName="RefNo"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.RefNo.errors }"
            />
            <div *ngIf="submitted && f.RefNo.errors" class="invalid-feedback">
              <div *ngIf="f.RefNo.errors.required">Ref No is required.</div>
            </div>
            <label>Ref No</label>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="form-floating">
            <input
              type="date"
              placeholder="Date"
              formControlName="Date"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.Date.errors }"
            />
            <div *ngIf="submitted && f.Date.errors" class="invalid-feedback">
              <div *ngIf="f.Date.errors.required">Date is required.</div>
            </div>
            <label>Date</label>
          </div>
        </div>

        <div class="col-12 mt-4">
          <button class="btn btn-primary text-uppercase" type="submit">
            CREATE EXPENSE<i class="fa fa-plane ms-3"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
