<h3>{{ title }}</h3>
<div class="card p-4">
  <form *ngIf="!loading" #form="ngForm" (ngSubmit)="saveEmployee()">
    <!-- [formGroup]="form" -->

    <!-- <img
      [src]="'assets/images/employees/' + employee.FacePhoto"
      [alt]="employee.FacePhoto"
      class="employee-image"
      *ngIf="employee.FacePhoto"
    /> -->
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="FirstName" class="form-label">First Name</label>
        <input
          class="mb-3"
          type="text"
          pInputText
          id="FirstName"
          name="FirstName"
          [(ngModel)]="employee.FirstName"
          required
          autofocus
        />
        <small class="p-error" *ngIf="submitted && !employee.FirstName"
          >First Name is required.</small
        >
      </div>
      <div class="form-group col-md-4">
        <label for="Surname" class="form-label">Surname</label>
        <input
          class="mb-3"
          id="Surname"
          name="Surname"
          pInputText
          [(ngModel)]="employee.Surname"
          required
        />
        <small class="p-error" *ngIf="submitted && !employee.Surname"
          >Surname is required.</small
        >
      </div>

      <div class="form-group col-md-4">
        <label for="MiddleName" class="form-label">Middle Name</label>
        <input
          class="mb-3"
          id="MiddleName"
          name="MiddleName"
          pInputText
          [(ngModel)]="employee.MiddleName"
          required
        />
      </div>
    </div>
    <div class="col-md-6">
      <label for="DeptID" class="form-label">Department</label>
      <p-dropdown
        [(ngModel)]="employee.DeptID"
        inputId="DeptID"
        name="Department"
        [options]="departments$"
        placeholder="Select"
      >
        <ng-template let-option pTemplate="item">
          <span [class]="'employee-badge status-' + option.Department">{{
            option.Department
          }}</span>
        </ng-template>
      </p-dropdown>
    </div>

    <div class="col-md-6">
      <label class="mb-3" class="form-label">Category</label>
      <div class="formgrid grid">
        <div class="field-radiobutton col-6">
          <p-radioButton
            id="isEmployee"
            name="isEmployee"
            value="Is Employee"
            [(ngModel)]="employee.isEmployee"
          ></p-radioButton>
          <label for="category1">Accessories</label>
        </div>
        <div class="field-radiobutton col-6">
          <p-radioButton
            id="isSupplier"
            name="isSupplier"
            value="Is Supplier"
            [(ngModel)]="employee.isSupplier"
          ></p-radioButton>
          <label for="category2">Clothing</label>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="field col">
        <label for="IDNo" class="form-label">ID No</label>
        <p-inputNumber
          class="form-control mb-3"
          id="IDNo"
          name="IDNo"
          [(ngModel)]="employee.IDNo"
        ></p-inputNumber>
      </div>
      <div class="field col">
        <label for="Email" class="form-label">Email</label>
        <input
          class="form-control mb-3"
          id="Email"
          name="Email"
          [(ngModel)]="employee.Email"
        />
      </div>
    </div>

    <div class="flex-container">
      <button
        class="flex-item"
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        (click)="Cancel()"
      ></button>
      <button
        class="flex-item"
        pButton
        pRipple
        label="Save"
        icon="pi pi-check"
        class="p-button-text"
        (click)="saveEmployee()"
        [disabled]="submitting"
      >
        <span
          *ngIf="submitting"
          class="spinner-border spinner-border-sm me-1"
        ></span>
      </button>
    </div>
  </form>
</div>

<!-- <form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input
        type="email"
        class="form-control"
        id="inputEmail4"
        placeholder="Email"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input
        type="password"
        class="form-control"
        id="inputPassword4"
        placeholder="Password"
      />
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input
      type="text"
      class="form-control"
      id="inputAddress"
      placeholder="1234 Main St"
    />
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input
      type="text"
      class="form-control"
      id="inputAddress2"
      placeholder="Apartment, studio, or floor"
    />
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity" />
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip" />
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck" />
      <label class="form-check-label" for="gridCheck"> Check me out </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form> -->
